.boxed {
    width: 80%;
    margin: 0 auto;
}
.profile-header {
    background: #fff;
    border-bottom: 1px solid #cccccc;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #ffffff;
    padding: .5em 0em 1em 0em;
    margin: 0px 0em 2em 0em;
    
}
.profile-header h1 {
        margin: 0em 0em .5em 0em;
        padding: 0em;
        line-height: 1em;
        font-size: 1.5em;
        font-weight: normal;
        color: #4d5b76;
}

.stats {
    float: right;
}

.stats .stat {
    float: left;
    margin-left: 1em;
    line-height: 2.5em;
    font-size: .9em;
}

.breadcrumb {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #fff;
  margin-top: -0.1em;
  margin-bottom: -0.5em;
  padding-left: 0em;
  padding-right: 0em;
  font-size: .75em;
}

.breadcrumb > li {
    display: inline-block;
}

.panel-user {
  border: 1px solid #ccc;
  background: white;
  border-radius: 3px;
}
.dialog .panel-user {
  -webkit-box-shadow: 1px 1px 0px #ffffff;
  -moz-box-shadow: 1px 1px 0px #ffffff;
  box-shadow: 1px 1px 0px #ffffff;
}
.panel-user-default {
    border-color: #ddd;
}


.panel-user .panel-user-heading {
    border-bottom: 1px solid #ccc;
    border-left: none;
    color: #333;
    display: block;
    margin-bottom: 0px;
    text-shadow: none;
    text-transform: none;
    font-size: .85em;
    line-height: 1.5em;
    background: #efefef;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #efefef), color-stop(1, #fafafa));
    background: -ms-linear-gradient(bottom, #efefef, #fafafa);
    background: -moz-linear-gradient(center bottom, #efefef 0%, #fafafa 100%);
    background: -o-linear-gradient(bottom, #efefef, #fafafa);
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e3e3e3', EndColorStr='#ffffff');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa',EndColorStr='#efefef')";
    box-shadow: inset 0px 1px 1px white;
}
.panel-user-default > .panel-user-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-user-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}



.panel-user .panel-user-heading:not(.no-collapse):hover {
  background: #efefef;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e2e2e2), color-stop(1, #fafafa));
  background: -ms-linear-gradient(bottom, #e2e2e2, #fafafa);
  background: -moz-linear-gradient(center bottom, #e2e2e2 0%, #fafafa 100%);
  background: -o-linear-gradient(bottom, #e2e2e2, #fafafa);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e3e3e3', EndColorStr='#ffffff');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa',EndColorStr='#e2e2e2')";
}

.list-group {
    padding: 0;margin: 0;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
}

.list-group-item:first-child{
    border-top: none;
}

.list-group-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: none;
}

.panel-user .panel-user-heading .panel-user-icon {
  border-right: 1px solid #AAA;
  box-shadow: 1px 0px 1px #fff;
  border-left: none;
  text-align: center;
  padding-left: 1em;
  line-height: 2em;
  margin-top: -0.25em;
}
.panel-user .panel-user-heading .panel-user-icon a {
  padding: 0em;
}
.panel-user .panel-user-heading .panel-user-icon [class*="icon-"] {
  padding: 0em 1em;
  line-height: 1em;
}
.panel-user .panel-user-heading .panel-user-icon.pull-right {
  border-left: 1px solid #AAA;
  border-right: none;
  box-shadow: inset 1px 0px 1px #fff;
}
p.panel-user-heading,
a.panel-user-heading,
.panel-user-heading a {
  color: #505050;
  display: block;
  outline: none;
}
a.panel-user-heading:hover,
.panel-user-heading a:hover {
  color: #505050;
}
.panel-user-body {
  min-height: .25em;
  padding: 15px;
}

.panel-user-body h1,
.panel-user-body h2,
.panel-user-body h3,
.panel-user-body h4,
.panel-user-body h5,
.panel-user-body h6,
.panel-user-body table {
  margin-top: 12px;
}
.panel-user-body.collapse {
  margin-top: 0em;
  margin-bottom: 0em;
}



/******icons*******/
.halflings-icon.globe {
background-position: -336px -144px;
}

.halflings-icon {
display: inline-block;
width: 14px;
height: 14px;
line-height: 14px;
vertical-align: text-top;
background-image: url(../../assets/img/glyphicons_halflings.svg);
background-position: 0 0;
background-repeat: no-repeat;
vertical-align: top;
}



/*button*/
.btnme {
display: inline-block;
padding: 4px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}

.btnme-xs, .btnme-group-xs>.btn {
padding: 1px 5px;
font-size: 12px;
line-height: 1.5;
border-radius: 3px;
}

a {
color: #428bca;
text-decoration: none;
}
a {
background: 0 0;
}


.btnme-line.btnme-success:hover, .btnme-line.btnme-success:focus, .btnme-line.btnme-success:active, .btnme-line.btn-success.active {
background-color: #4cae4c;
color: #fff;
border-color: #3d8b3d;
}
.btnme-line.btnme-success {
color: #5cb85c;
background-color: #fff;
border-color: #4cae4c;
}
.btnme-success:hover, .btnme-success:focus, .btnme-success:active, .btnme-success.active, .open>.dropdown-toggle.btnme-success {
color: #fff;
background-color: #449d44;
border-color: #398439;
}
.btnme:hover, .btnme:focus {
color: #333;
text-decoration: none;
}
a:hover, a:focus {
color: #2a6496;
text-decoration: underline;
}
a:active, a:hover {
outline: 0;
}
.btnme-sm, .btnme-group-sm>.btnme {
padding: 2px 10px;
font-size: 12px;
line-height: 1.5;
border-radius: 3px;
}
.btnme-success {
color: #fff;
background-color: #5cb85c;
border-color: #4cae4c;
}